<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>608229954934-9j835847n3f425llqaiqffnda5u2n184.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.608229954934-9j835847n3f425llqaiqffnda5u2n184</string>
	<key>API_KEY</key>
	<string>AIzaSyB34uCkHjLf_7oRKKr_plZtvjBlR5hv19c</string>
	<key>GCM_SENDER_ID</key>
	<string>608229954934</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.weatherStationClient</string>
	<key>PROJECT_ID</key>
	<string>weather-station-2bb34</string>
	<key>STORAGE_BUCKET</key>
	<string>weather-station-2bb34.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:608229954934:ios:b30e1b6e908f4354771657</string>
</dict>
</plist>